/* src/styles/ProfileCard.css */
.profile-card {
 background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(80px);
  border-radius: 16px;
  border: 0.2px solid rgba(142, 140, 140, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.details h2 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 0.25rem;
}

.details p {
  font-size: 0.875rem;
  color: #6b7280;
}

.social-icons {
  display: flex;
  gap: 1rem;
  border:0.8px solid #ccc;
  padding:1rem;
  border-radius:20px;
}

.social-icon {
  font-size: 1.25rem;
  color: #6b7280;
  cursor: pointer;
}
.social-icon:hover{
  color:rgb(195, 79, 195)
}