.action{
  margin-top: 30px;
  display: flex;
  gap:30px;
}
.out-of-stock {
    background-color: #ccc;
    color: #fff;
    cursor: not-allowed; /* nút thực sự không nhấn được */
}

.add-to-cart,
.payment  {
    background-color: #1c7df4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer; /* <-- sửa ở đây */
    font-weight: bold;
    width: 30%;
    pointer-events: auto; /* đảm bảo nhận click */
}

.product-description {
  flex-basis: 100%;
  margin-top: 30px;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-description h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  border-left: 4px solid #00a0e9;
  padding-left: 10px;
}