/* src/styles/FormSection.css */
.form-section{
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(80px);
  border-radius: 16px;
  
}
.form-section h3 {
  font-size: 1.8rem;
  color: #374151;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.875rem;
  color: #374151;
  margin-bottom: 0.25rem;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(80px);
  border-radius: 16px;
  border: 1px solid rgba(30, 29, 29, 0.3);
  outline: none;
}

.form-group.full-width {
  grid-column: span 2;
}

.quantity-input {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  overflow: hidden;
}

.quantity-input button {
  background: rgba(255, 255, 255, 0.15);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.quantity-input input {
  flex: 1;
  text-align: center;
  border: none;
  background-color: white;
}

.error-input {
  border: 1px solid red !important;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}
