/* src/styles/ProductDashboard.css */
.order-dashboard {
  padding: 1.5rem;
  background-color: #f9fafb;
  width:30%;
}

.breadcrumb {
  font-size: 0.875rem;
  color: #6b7280;
  margin-bottom: 1rem;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title-section h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.title-section p {
  font-size: 0.875rem;
  color: #6b7280;
}

.actions {
  display: flex;
  gap: 1rem;
}

.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}