/* src/styles/AddProduct.css */
.add-product {
  padding: 1.5rem;

  width: 100%;
}

.breadcrumb {
  font-size: 0.875rem;
  color: #6b7280;
  margin-bottom: 1rem;
  text-align: right;

}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.content-wrapper {
  border: 0.3px solid #ccc;
  border-radius: 13px;
  width: 100%;

}

.upload-section {
  margin-bottom: 2rem;
  padding: 2rem;
  


}

.upload-section h3 {
  font-size: 1rem;
  color: #374151;
  margin-bottom: 0.5rem;
}

.upload-box {
  border: 1px dashed #d1d5db;
  border-radius: 0.375rem;
  padding: 2rem;
  text-align: center;
  background-color: white;
}

.upload-icon {
  font-size: 2rem;
  color: #6366f1;
  margin-bottom: 0.5rem;
}

.upload-box p {
  font-size: 0.875rem;
  color: #6b7280;
}


.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1rem 1rem 1rem 0;
}