.price-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.12); /* ✔ border bao ngoài table */

}

.price-table thead {
  background: #0d6efd;
  color: #fff;
}

.price-table th,
.price-table td {
  padding: 14px;
  text-align: center;
}

.price-table tbody tr:nth-child(even) {
  background: #f8f9fa;
}

.price-table tbody tr:hover {
  background: #e9f2ff;
}
