/* src/styles/ReusableButton.css */
.reusable-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.primary {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(80px);
  border-radius: 16px;
  border: 1px solid rgba(162, 156, 156, 0.3);
  padding: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: rgb(21, 21, 21);
}

.primary:hover {
  background-color: #595964;
  color:white;
}

.secondary {
 background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(80px);
  border-radius: 16px;
  border: 1px solid rgba(161, 158, 158, 0.3);
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: rgb(21, 21, 21);
}

.secondary:hover {
 background-color: #595964;
  color:white;
}

.button-icon {
  margin-right: 0.5rem;
}