/* src/styles/GenericTable.css */
.generic-list {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  overflow: visible;
  outline: none;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(80px);
  border-radius: 16px;
  border: 0.2px solid rgba(142, 140, 140, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.generic-row {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #e5e7eb;

}

.generic-row:last-child {
  border-bottom: none;
}

.generic-row.header {
  background-color: #f9fafb;
  font-size: 0.875rem;
  color: #6b7280;
  font-weight: 500;
  background: rgba(208, 205, 205, 0.15);
  backdrop-filter: blur(20px);

}

.cell {
  padding: 0 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cell.checkbox {
  flex: 0 0 40px;
  min-width: 40px;
}

.cell.actions {
  flex: 0 0 40px;
  min-width: 40px;
  text-align: right;
  position: relative;
  /* For positioning dropdown */
}

.sort-icon {
  font-size: 0.75rem;
  color: #9ca3af;
}

.product-cell {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 0.25rem;
}

.stock.in-stock {
  color: #10b981;
}

.stock.out-of-stock {
  color: #ef4444;
}

.more-icon {
  cursor: pointer;
  color: #6b7280;
}

.actions-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  min-width: 150px;
  padding: 0.5rem 2rem;
}

.dropdown-item {
  width: 100%;
  font-size: 14px;
  margin-bottom: 0.2rem;
  padding: 0.2rem 1rem 0.2rem 0;
  cursor: pointer;
  color: #374151;
  text-align: left;
}

a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;

}


.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  border-radius: 1rem;
  padding: 0.2rem 1rem 0.2rem 0;
  background-color: #f9fafb;
}