.header {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  margin-left:auto;
  align-items: center;
  padding: 1rem 1.5rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(80px);
  border-bottom: 0.2px solid rgba(142, 140, 140, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.iconMenu{
  padding: 4px 4px 0 4px;
  border:0.8px solid #ccc;
  border-radius: 5px;
}
.icon {
  
  font-size: 1.5rem;
  cursor: pointer;
}

.search-container {
  position: relative;
  width:400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  width:100%;
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  outline: none;
}

.search-icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.shortcut {
  font-size: 0.875rem;
  color: #666;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.profile-img {
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
}

.profile-name {
  font-weight: 500;
}

/* Dropdown styles */
.dropdown {
  position: absolute;
  top: 12vh;
  right: 2rem;
  width: 220px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdown-header {
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
}

.dropdown-name {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.dropdown-email {
  font-size: 0.875rem;
  color: #666;
}

.dropdown-menu {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown-menu li:hover {
  background-color: #f5f5f5;
}

.sign-out {
  color: red;
}