/* Forgot.module.css */

.forgot-container {
  padding: 30px 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  margin: 50px auto;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(67, 58, 58);
  font-size: 24px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(10, 8, 8);
  font-size: 14px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.link {
  display: block;
  margin-top: 15px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
}

.link:hover {
  text-decoration: underline;
}
