.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #eef2f3, #dfe9f3);
  padding: 20px;
}

.card {
  width: 380px;
  background: #ffffffcc;
  backdrop-filter: blur(14px);
  padding: 40px 34px;
  border-radius: 18px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.12);
  text-align: center;
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.logo {
  width: 90px;
  margin-bottom: 14px;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
}

.sub {
  color: #606770;
  font-size: 14px;
  margin-bottom: 20px;
}

.input {
  display: flex;
  align-items: center;      /* căn giữa theo chiều dọc */
  gap: 12px;
  border: 1px solid #ddd;
  padding: 12px 14px;
  border-radius: 10px;
  box-sizing: border-box;
  background: #fafafa;
  margin-bottom: 16px;
}

.input svg {
  font-size: 22px;
  color: #555;
}

.input input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  margin: 0px;
  height: 24px;             /* rất quan trọng */
  line-height: 24px;        /* giúp text nằm chính giữa */
}



.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 6px 0 18px;
}

.options a {
  color: #007bff;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

.mainBtn {
  width: 100%;
  padding: 12px;
  background: #007bff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  transition: 0.25s;
}

.mainBtn:hover {
  background: #0069d9;
  transform: translateY(-1px);
}

.divider {
  text-align: center;
  margin: 20px 0;
  color: #888;
  position: relative;
}

.divider:before,
.divider:after {
  content: "";
  width: 40%;
  height: 1px;
  background: #ddd;
  position: absolute;
  top: 50%;
}

.divider:before {
  left: 0;
}
.divider:after {
  right: 0;
}

.socialBtn {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: flex-start;   /* <-- icon trái, text hiển thị đầy đủ */
  gap: 12px;

  font-size: 16px;
  font-weight: 500;
  color: black;
}


.socialBtn:hover {
  background: #f6f6f6;
  border-color: #bbb;
  transform: translateY(-1px);
}

.error {
  color: #d93025;
  font-size: 14px;
  margin-bottom: 10px;
}
.text {
  display: flex;
  align-items: center;      /* căn giữa theo chiều dọc */
  padding: 5px 5px;
  border-radius: 10px;
  box-sizing: border-box;
  background: #fafafa;
  margin-bottom: 5px;
}
.eye {
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

.eye:hover {
  color: #000;
}
