/* src/styles/ReusableEditButton.css */
.reusable-edit-button {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #ffff;
  border: .8px solid #e5e7eb;
  border-radius: 9999px;
  color: #374151;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
}

.reusable-edit-button:hover {
  background-color: #e5e7eb;
}

.edit-icon {
  margin-right: 0.5rem;
  font-size: 1rem;
}